{{#if groups}}
<ul id="groups" class="m-0 p-0">
    {{#each groups}}
        <li class="_{{dataValues.id}} m-1">
            <div class="d-flex row justify-content-between">
                <div class="col-11"> 
                    <label class="_{{dataValues.id}} form-control text-center text-light p-1 m-0 group-color">
                        {{dataValues.name}}
                    </label>
                </div>
                <div class="col-1">
                    <form action="/groups/{{dataValues.id}}" method="DELETE">
                        <button type="submit"  class="_{{dataValues.id}} form-control btn-danger">-</button>
                    </form>
                </div>
            </div>
            <table class="_{{dataValues.id}} table hide ">
                <thead class="thead-light">
                    <tr>
                        <th>№</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dataValues.students}}
                        <tr>
                            <th scope="row">{{dataValues.id}}</th>
                            <td>{{dataValues.firstName}}</td>
                            <td>{{dataValues.lastName}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

        </li>
    {{/each}}
    <li class="m-1">
        <button type="button" id="input-add" class="form-control btn-success">+</button>
    </li>
    <script>
        $groups = document.querySelector( '#groups' )
        $groups.addEventListener("click", (event)=>{
                if(event.target.nodeName==='LABEL') active(event)
                else if(event.target.textContent==='+') add(event)
                else if(event.target.textContent==='-') remove(event)
                else console.log(event.target)
            })
        function active(event){
                let label = event.target
                label.classList.toggle('group-color')
                label.classList.toggle('group-color-active')
                let table = document.querySelector( `table.${label.classList[0]}` )
                table.classList.toggle('hide')
        }
        function add(event){
            let li = event.target.parentNode
            event.target.remove()

            li.insertAdjacentHTML('afterbegin',
            `
                <form action="/groups" method="POST">
                    <div class="d-flex row justify-content-between">
                        <div class="col-11">    
                            <input class='form-control' type="text" name="name" placeholder="Введите название группы..">
                        </div>
                        <div class="col-1">
                            <button type="submit" class="form-control btn-success">&#10004;</button>
                        </div>
                    </div>
                </form>
            `
            )

            {{!-- let input = document.createElement('input')
            input.classList.add('form-control')
            input.type = 'text'
            input.name = 'groupName'

            li.appendChild(input) --}}

        }
        function remove(event){
            {{!-- let button = event.target
            let li = document.querySelector( `li.${button.classList[0]}` )
            li.remove() --}}
        }

    </script>
</ul>
{{else }}
<h3> Not founded </h3>
{{/if}}