<ul id="groups" class="m-0 p-0">
    {{#if groups}}
        {{#each groups}}
            <li class="m-1">
                    <form id="{{dataValues.id}}" class="outputForm d-flex row justify-content-between">
                        <div class="col-2">
                            <input class='form-control text-light text-center color-passive' readonly="" name="id" value="{{dataValues.id}}" placeholder="Identifier" >
                        </div>
                        <div class="col-6">
                            <input id="{{dataValues.id}}" name="name" value="{{dataValues.name}}" class="inputActive form-control text-light text-center color-passive" disabled="disabled">            
                            </input>
                        </div>
                        <div class="col-2">
                            <button id="{{dataValues.id}}" type="button"  class="buttonEdit form-control btn-danger">&#9998;</button>	
                        </div>
                        <div class="col-2 hide">
                            <button type="submit" class="buttonSave form-control btn-success">&#10004;</button>
                        </div>
                        <div class="col-2">
                            <button id="{{dataValues.id}}" type="submit"  class="buttonDel form-control btn-danger ">&#10006;</button>
                        </div>
                    </form>
                <table id="{{dataValues.id}}" class="table hide">
                    <thead class="thead-light">
                        <tr>
                            <th>№</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each dataValues.students}}
                            <tr>
                                <th scope="row">{{dataValues.id}}</th>
                                <td>{{dataValues.firstName}}</td>
                                <td>{{dataValues.lastName}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </li>
        {{/each}}
    {{/if}}
    <li id="inputLi" class="m-1">
        <button type="button" class="buttonAdd form-control btn-success ">&#10010;</button>
    </li> 
</ul>
