<ul id="students" class="m-0 p-0">
    {{#if students}}
        {{#each students}}
            <li class="m-1">
                    <form id="{{dataValues.id}}" class="outputForm d-flex row justify-content-between">
                        <input type="hidden" class='form-control' type="text" name="id" value="{{dataValues.id}}" placeholder="Identifier">
                        <div class="col-3">
                            <input name="lastName" value="{{dataValues.lastName}}" class="inputActive form-control text-light text-center color-passive" disabled="disabled">            
                            </input>
                        </div>
                        <div class="col-3">
                            <input name="firstName" value="{{dataValues.firstName}}" class="inputActive form-control text-light text-center color-passive" disabled="disabled">            
                            </input>
                        </div>
                        <div class="col-2">
                            <input name="groupId" value="{{dataValues.groupId}}" class="inputActive form-control text-light text-center color-passive" disabled="disabled">            
                            </input>
                        </div>
                        <div class="col-2">
                            <button id="{{dataValues.id}}" type="button"  class="buttonEdit form-control btn-danger">&#9998;</button>	
                        </div>
                        <div class="col-2 hide">
                            <button type="submit" class="buttonSave form-control btn-success">&#10004;</button>
                        </div>
                        <div class="col-2">
                            <button id="{{dataValues.id}}" type="submit"  class="buttonDel form-control btn-danger ">&#10006;</button>
                        </div>
                    </form>
            </li>
        {{/each}}
    {{/if}}
    <li id="inputLi" class="m-1">
        <button type="button" class="buttonAdd form-control btn-success ">&#10010;</button>
    </li> 
</ul>
